<footer>
    <div class="footer">
        <div class="about">
            <h5>A propos de moi</h5>
            <p>Je suis un développeur web expérimenté avec plus de 10 ans d'expérience dans ce domaine. J'ai également développé des compétences en programmation Python et en utilisation du framework Django au cours des dernières années, et je suis passionné par l'art du développement de logiciels.</p>
        </div>
        <div class="footer-link">
            <h5>Liens</h5>
            <ul>
                <li><a href="https://www.kiloukoi.be" target="_blank">Kiloukoi.be</a></li>
                <li><a href="http://toine-traveller.org" target="_blank">Mon blog voyage</a></li>
            </ul>
        </div>
    </div>
    <p class="center">
        Partir de Zero ©2024 - Designed and created by <a href="https://anthony-violet.eu" target="_blank">Anthony VIOLET</a>
    </p>
</footer>