{% extends 'layout.html' %}

{% block content %}
<section>
    <h1>{{ course.name }}</h1>
    <p class="def-author">Un cours proposé par {{ course.author }}</p>
    <p>{{ course.content }}</p>
    <ol>
        {% for lesson in lessons %}
            <li><a href="#{{ lesson.name|slugify }}">{{ lesson.name }}</a></li>
        {% endfor %}
            <li><a href="#comments">Commentaires</a></li>
    </ol>
    {% for lesson in lessons %}
        <h2 id="{{ lesson.name|slugify }}">{{ lesson.name }}</h2>
        {{ lesson.content|safe }}
    {% endfor %}
    <h1 id="comments">Commentaires</h1>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /**/
        var disqus_config = function () {
        this.page.url = "{{ request.build_absolute_uri|safe }}{% url 'courses:show' course.id course.name|slugify %}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ course.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://partirdezero.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{% endblock %}